.application-fill { fill: #007aa0; }
.app-gradient-background { fill: #007aa0; }
.foreground-fill { fill: fb-white; }
.background-fill { fill: fb-black; }

#clock {
  x: 50%;
  y: 32;
  font-size: 28;
  text-length: 8;
}

#value {
  fill: fb-white;
  text-length: 6;
}

#unit {
  fill: fb-gray;
}

.trend-indicator {
  width: 20%;
  height: 20%;
  x: 75%;
}

#trend-up {
  fill: fb-green;
  fill-opacity: 0.5;
  y: 10%
}

#trend-down {
  fill: fb-red;
  fill-opacity: 0.5;
  y: 75%
}
